<div class="center hero-unit">
  <h1>Bienvenidos a TWITTUBE</h1>
</div>

<%= form_tag usuarios_sessions_path, method: :post do %>
  <div class = "field">
    <%= label_tag "Nombre de usuario"%>
    <%= text_field_tag :username %>
  </div>
  <div class = "field">
    <%= label_tag  "Contraseña" %>
    <%= text_field_tag :password  %>
  </div>
  <div class = "actions">
    <%= submit_tag %>
  </div>
<% end %>