<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@usuario.errors.count, " error ") %> No se puede registrar este usuario:</h3>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre de usuario" %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Contraseña" %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label "Repite tu contraseña"  %><br />
    <%= f.text_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Crear cuenta"%>
  </div>
<% end %>
