<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
		<h1>
 		 	<%= gravatar_for @usuario %>
  		<%= @usuario.username %>
		</h1>

		<p id="notice"><%= notice %></p>

		<p>
  			<b>Nombre:</b>
  			<%= @usuario.username %></br>
  			<b>Email:</b>
  			<%= @usuario.email %>
		</p>
	</td>
   </tr>
</table>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
