<header>
	<%= image_tag("twittube.png", :alt => "Logo", :class => "round") %>
	<nav class='round'>
		<ul>
			<li><%= link_to "Home",    root_path %></li>
			<li><%= link_to "Help", 	help_path %></li>
			<li><%= link_to "Sing in", signup_path %></li>
			<li><%= link_to "Sing in", signut_path %></li>

		</ul>
	</nav>
</header>